/* detail.css */

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-section img {
  width: 50%;
  height: auto;
  border-radius: 5%;
}

.header-section h1 {
  width: 50%;
  text-align: center;
  font-size: 60px; /* Tamaño de fuente ajustado para el título */
}

.content-section {
  display: flex;
  flex-direction: row;  /* Alineamos los elementos en fila */
  align-items: center;  /* Centramos los elementos verticalmente */
  justify-content: space-around;  /* Añadimos espacio entre los elementos */
}

.content-section p {
  width: 100%;  /* Ajusta esto a lo que necesites */
  text-align: justify;
  font-weight: normal; /* Texto normal */
  font-size: 20px; /* Tamaño de fuente para el contenido ajustado a tus preferencias */
  padding: 5px; /* Añade un margen interior de 20px alrededor del texto */
}
/*esta funcion me sirvio para ajustar el texto body a que abarcara a la mitad*/
.video-responsive {
  width: 60%; /* igual que la imagen */
}

.video-container {
  position: relative;
  overflow: visible;
  width: -200%; /* video que se mueva a la izquierda o el tama;o completo del youtube */
  padding-top: 200%; /* hace que el video sea en cuadrado o rectangulo  */
  padding-right: 1px; /* Añade un margen interior de 20px en el lado derecho del texto */
  padding-bottom: 0px; /* Añade un margen interior de 30px en la parte inferior del texto */
  padding-left: 1px; /* margen interior de 40px en el lado izquierdo del texto */
}



.video-container-iframe {
  position: absolute;
  top: 0;
  left: 10;
  width: 100%; /* hace que el iframe llene el contenedor de video */
  height: 100%;
}





